<div class="loading__ripple" *ngIf="loading">
    <loading></loading>
</div>
<ng-template *ngIf="!loading" ngFor let-data [ngForOf]="receivedData" let-i="index" >
    <div class="card">
        <div class="card__title">{{data.title}}</div>
        <div class="card__image">
            <img [src]="data.url" />
        </div>
        <div class="card__date__share">
            <div class="card__date">
                {{data.date | date:"MMM d, y" }}
            </div>
            <button (click)="onShare()">Share</button>
        </div>
        <div *ngIf="share" class="card__link">
            <input type="text" #urlField value="{{url}}{{data.date}}" readonly />
            <button (click)="onCopy(urlField)">Copy</button>
        </div>
        <div class="card__explanation">{{data.explanation}}</div>
        <div class="card__like__button">
            <label>
                <input type="checkbox" [checked]="data.liked" >
                <span class="like"></span>
            </label>
        </div>
    </div>
</ng-template>